<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head(~{::title})">
    <title>分类管理</title>
</head>
<body>

<!--导航-->
<nav th:replace="adminFragment :: adminNav(2)"></nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="left menu">
            <a href="#" th:href="@{/type/toAddType}" class="teal item " >新增</a>
            <a href="#" th:href="@{/type/adminType}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!--主体-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">总数</td>
                <td th:text="${type.name}">分类名称</td>
                <td>
                    <a href="#" th:href="@{/type/getUpdateType/{id}(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/type/del/{id}(id=${type.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" >
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/type/adminType(page=${page.number}-1)}" class="  item" th:unless="${page.first}">上一页</a>
                        <a th:href="@{/type/adminType(page=${page.number}+1)}" class=" item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/type/toAddType}"  class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

                    <!--底部-->
                    <!--vertical 垂直-->
<footer th:replace="fragment :: footer"></footer>

</body>
</html>
