<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head(~{::title})">
    <title>后台登录</title>
    <script>
        $(function () {
           //前段非空验证
            $('.ui.form').form({
                fields : {
                    username : {
                        identifier: 'username',
                        rules: [{
                            type : 'empty',
                            prompt: '请输入用户名'
                        }]
                    },
                    password : {
                        identifier: 'password',
                        rules: [{
                            type : 'empty',
                            prompt: '请输入密码'
                        }]
                    }
                }
            });
        });
    </script>
</head>

<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui black image header">
                    <div class="content">
                        管理后台登录
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/adminBlog}">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large black submit button">登   录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(msg)}" th:text="${msg}"></div>

                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>