<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head(~{::title})">
    <title>404</title>
</head>
<body>
<!--导航-->
<nav th:replace="fragment :: nav(1)"></nav>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="m-container-small">
    <div class="ui error message">
        <div class="ui container">
            <h2>404</h2>
            <p>您访问的资源不存在</p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!--底部-->
<!--vertical 垂直-->
<footer th:replace="fragment :: footer"></footer>

</body>
</html>