<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment :: head(~{::title})">
    <title>博客详情</title>
</head>
<link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
<link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
<link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">

<body>

<!--导航-->
<nav id="nav" th:replace="fragment:: nav(99)"></nav>

<!--主体-->
<div id="content" class="m-padded-tb-big m-container-small animated fadeIn">
    <div class="ui container">
        <div class="ui top attached segment middle aligned">
            <div class="ui horizontal list">
                <div class="item">
                    <img class="ui avatar image" th:src="@{${blog.user.avatar}}">
                    <div class="content"><span class="header m-blue" th:text="${blog.user.nickName}">昵称</span></div>
                </div>
                <div class="item">
                    <i class="small calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">时间</span>
                </div>
                <div class="item">
                    <i class="small eye icon"></i> <span id="busuanzi_value_page_pv"></span>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!--首图区域-->
            <img alt="" class="ui fluid rounded image" th:src="@{${blog.firstPicture}}">
        </div>
        <div class="ui attached padded segment">
            <!--内容-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
            </div>
            <!--        文章标题-->
            <h2 class="ui center aligned header"  th:text="${blog.title}">文章标题</h2>
            <br>

            <!--            文章内容-->
            <div id="wrapper" class="m-padded-lr-responsive m-padded-tb-big typo typo-selection js-toc-content" th:utext="${blog.content}">

            </div>

            <!--标签-->
            <div class="m-padded-lr-responsive">
                <div class="ui segment basic left aligned">
                    <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}">
                        <a target="_blank" th:href="@{/tags/{id}(id=${tag.id})}" th:text="${tag.name}"></a>
                    </div>
                </div>
            </div>

            <!--赞赏-->
            <div th:if="${blog.appreciation}">
                <div class="ui center aligned basic segment">
                    <button class="ui orange basic circular button" id="payButton">赞赏</button>
                </div>
                <div class="ui payQR flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img alt="" class="ui rounded bordered image" src="../../static/img/zfbPay.jpg"
                                     th:src="@{/img/zfbPay.jpg}"
                                     style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img alt="" class="ui rounded bordered image" src="../../static/img/wechatpay.jpg"
                                     th:src="@{/img/wechatpay.png}"
                                     style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached positive message"  th:if="${blog.share}">
            <!--博客信息-->
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者：<span th:text="${blog.user.nickName}"></span></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm')}"></span></li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img alt="" class="ui right floated rounded bordered image" src="../../static/img/wechat.jpg"
                         th:src="@{/img/wechat.jpg}"
                         style="width: 110px">
                </div>
            </div>
        </div>
        <div  class="ui bottom attached segment" th:if="${blog.comment}">
            <!--留言区域列表-->
            <div id="comment-container"  class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author" >
                                    <span th:text="${comment.nickName}">Matt</span>
                                    <div class="ui mini basic red left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickName}" onclick="reply(this)">回复</a>
                                    <a th:if="${session.user != null}" th:href="@{/del/{cid}/{bid}(cid=${comment.id},bid=${comment.blog.id})}">删除</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="https://unsplash.it/100/100?image=1005" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author" >
                                            <span th:text="${reply.nickName}">小红</span>
                                            <div class="ui mini basic red left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>
                                            &nbsp;<span th:text="|@ ${reply.parentComment.nickName}|" class="m-teal"></span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickName}" onclick="reply(this)">回复</a>
                                            <a th:if="${session.user != null}"   th:href="@{/del/{cid}/{bid}(cid=${reply.id},bid=${comment.blog.id})}">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-form" class="ui form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickName" placeholder="姓名" th:value="${session.user}!=null ? ${session.user.nickName}">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱" th:value="${session.user}!=null ? ${session.user.email}">
                        </div>
                    </div>
                    <div class="field  m-margin-bottom-small m-mobile-wide">
                        <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    悬浮导航-->
<div class="m-padded m-fixed m-right-bottom">
    <div class="ui vertical icon buttons ">
        <button type="button" class="ui toc black button" >目录</button>
        <a href="#comment-container" class="ui black button" >留言</a>
        <button class="ui wechat-read black icon button"><i class="weixin icon"></i></button>
        <a href="#nav" class="ui button" ><i class="chevron up icon"></i></a>
    </div>
</div>

<!--  目录详情-->
<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">

    </ol>
</div>

<!--            弹出，微信阅读-->
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden m-padded" style="width: 130px !important;">
        <div class="">微信扫码阅读</div>
</div>


<br />

<!--底部-->
<!--vertical 垂直-->
<footer th:replace="fragment :: footer"></footer>
<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
<script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>

<script th:inline="javascript">


    //    目录初始化
    tocbot.init({
        tocSelector: '.js-toc',
        contentSelector: '.js-toc-content',
        headingSelector: 'h1, h2, h3',
    });

    //微信阅读二维码生成
    var url = "localhost:8080@{readBlog/{id}(id=${blog.id})";
    var qrcode = new QRCode("qrcode", {
        text: url,
        width: 80,
        height: 80,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    //    赞赏二维码的弹出
    $('#payButton').popup({
        popup : $('.payQR.popup'),
        on : 'click',
        position: 'bottom center'
    });

    //悬浮按钮的目录
    $('.toc.button').popup({
        popup : $('.toc-container.popup'),
        on : 'click',
        position: 'left center'
    });

    //微信阅读弹出
    $('.wechat-read').popup({
        popup : $('.wechat-qr'),
        position: 'left center'
    });
    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            },
            content: {
                identifier: 'nickName',
                rules: [{
                    type: 'empty',
                    prompt: '请输入你的大名'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请填写正确的邮箱地址'
                }]
            }
        }
    });

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/6");
    })

    $('#commentpost-btn').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }

    });

    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickName": $("[name='nickName']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }


    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }
</script>

</body>
</html>
